/* https://codemyui.com/simple-box-shadow-button-hover-animation/ */

#LaunchButton {
    --color: #2b1c1c9f;
    --hover: #e6ddda;
    color: var(--color);
    -webkit-transition: 0.25s;
    transition: 0.25s;
    background: none;
    border: 2px solid;
    font: inherit;
    line-height: 1;
    margin: 0.5em;
    padding: 1em 2em;
}

#LaunchButton:hover,
#LaunchButton:focus {
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    -webkit-transform: translateY(-0.25em);
            transform: translateY(-0.25em);
            border-color: var(--hover);
            color: #fff;
}

body {
  color: #fff;
  background: #17181c;
  font: 300 1em 'Fira Sans', sans-serif;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}