*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    overflow: none;
}

  #Layout {
    display: grid;
    grid-template-rows: .2fr repeat(3, 1fr) .2fr;
    grid-template-columns: 2.5fr 5fr 2.5fr;
    width: 100vw;
    height: 100vh;
    text-align: center;

    /* https://unsplash.com/photos/5gn2soeAc40 */
    background-image: url('../../../../../images/landing.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  #nestedGrid {
    grid-row: 4;
    grid-column: 2;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
  }
  
  #timer {
    border: 1px solid red;
    grid-row: 2; 
    grid-column: 3;
  }
  