*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

  
  #Layout {
    display: grid;
    border-style: solid;
    border-color: red;
    grid-template-rows: .2fr repeat(3, 1fr) .2fr;
    grid-template-columns: 2.5fr 5fr 2.5fr;
    width: 100vw;
    height: 100vh;
    text-align: center;
    background: #2C3E50;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, rgb(245, 245, 242), rgb(239, 243, 247));  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, rgb(245, 245, 242), rgb(239, 243, 247)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }

  #nestedGrid {
    grid-row: 4;
    grid-column: 2;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
  }
  
  #timer {
    border: 1px solid red;
    grid-row: 2; 
    grid-column: 3;
  }