*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    overflow: none;
}

  #Layout {
    display: grid;
    grid-template-rows: .2fr repeat(3, 1fr) .2fr;
    grid-template-columns: 2.5fr 5fr 2.5fr;
    width: 100vw;
    height: 100vh;
    text-align: center;

    background: linear-gradient(203deg, #f6d6e2, #434a48);
    background-size: 400% 400%;
    
    -webkit-animation: AnimationName 4s ease infinite;
    -moz-animation: AnimationName 4s ease infinite;
    animation: AnimationName 4s ease infinite;
    
    @-webkit-keyframes AnimationName {
        0%{background-position:22% 0%}
        50%{background-position:79% 100%}
        100%{background-position:22% 0%}
    }
    @-moz-keyframes AnimationName {
        0%{background-position:22% 0%}
        50%{background-position:79% 100%}
        100%{background-position:22% 0%}
    }
    @keyframes AnimationName { 
        0%{background-position:22% 0%}
        50%{background-position:79% 100%}
        100%{background-position:22% 0%}
    }
  }

  #nestedGrid {
    grid-row: 4;
    grid-column: 2;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
  }
  
  #timer {
    border: 1px solid red;
    grid-row: 2; 
    grid-column: 3;
  }
  











  